<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GeoBagging</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            <%= require('html-loader!./check-for-ie.js') %>
                document.execCommand('Stop')
            }
        </script>
        <script src="error_handler.js"></script>
        <!-- stylesheets -->
    </head>
    <body>
        <%= require('html-loader!./error-display.html') %>
        <%= require('html-loader!./loading.html') %>
        <!--scripts-->
    </body>
</html>
